.menuButtonWrapper {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  z-index: 1000;

  @media screen and (min-width: 800px) {
    display: none;
  }
}

.menu-overlay {
  width: 100vw;
  overflow: hidden;
  z-index: 1000;
  position: fixed;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 2.5rem;
  font-style: italic;
}

.opening {
  animation: open-menu 700ms forwards ease-in-out;
}

.closing {
  animation: close-menu 700ms forwards ease-in-out;
}

@keyframes open-menu {
  from {
    height: 0;
    max-height: 0vh;
  }
  to {
    height: 100vh;
    max-height: 100vh;
  }
}

@keyframes close-menu {
  from {
    height: 100vh;
    max-height: 100vh;
  }
  to {
    height: 0;
    max-height: 0vh;
  }
}
