@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monoaspace";
  src: local("Monoaspace"), url("./fonts/Monoaspace.woff") format("woff");
}

body {
  --background: #222831;
  --foreground: #ededed;
  color: var(--foreground);
  background-color: var(--background);
}

#root {
  margin: 0 auto;
  padding: 2rem;
  font-family: "Monoaspace";
  width: 100%;
  --green: #64ffda;
  --blue: #57cbff;
  --white: #e6f1ff;
}

.green {
  color: var(--green);
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
